div {
    border-radius: 0.1em;
}

.primary-color {
    background-color: red; 
}

.important-color {
    background-color: #880000;
}

.warning-color {
    background-color: pink;
}

.principal-font {
    font-family: Arial, Helvetica, sans-serif;
}

.secondary-font {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.shadow-box {
    box-shadow:  -0.5em 1em 1em rgb(80, 80, 80);
}