div {
    border-radius: 0.4em;
}

.primary-color {
    background-color: blue; 
}

.important-color {
    background-color: navy;
}

.warning-color {
    background-color: skyblue;
}

.principal-font {
    font-family: cursive;
}

.secondary-font {
    font-family: Papyrus, fantasy;
}

.shadow-box {
    box-shadow:  0.5em 1em 1em rgb(80, 80, 80);
}